@using WebApplication4.ViewModels.TrainerViewModels
@model List<TrainerGetVM>

<div class="container">

<div class="row">
    <div class="col-2">


    <a class="btn btn-success" asp-action="Create" >Create</a>

    </div>
  

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Departament Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trainer in Model)
                {
                    
                <tr>
                    <th scope="row">@trainer.Id</th>
                    <td><img src="~/images/@trainer.ImagePath" /> </td>
                    <td>@trainer.Name</td>
                    <td>@trainer.Description</td>
                    <td>@trainer.DepartamentName</td>
                    <td>
                        <a asp-action="Update"  asp-route-id="@trainer.Id" class="btn btn-warning" >Update</a>
                        <a asp-action="Delete"  asp-route-id="@trainer.Id" class="btn btn-danger" >Delete</a>

                    </td>
                </tr>
                }
               
            </tbody>
        </table>







</div>

</div>